* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #050404;
    color: #ffffff;
    text-transform: uppercase;
}

a, input, button {
    color: inherit;
    font-size: inherit;
    border: none;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1180px;
    margin: 0 auto;
}

.header {
    padding-top: 60px;
    padding-bottom: 80px;
}

.navigation {
    font-size: 22px;
    line-height: 22px;   
}

.logo {
    vertical-align: middle;
    margin-right: 112px;   
}

.navigation-list {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
}

.navigation-item {
    display: inline-block;
    margin-right: 38px;
}

.navigation-item:last-child {
    margin-right: 0;
}

.navigation-item:nth-child(4) {
    color: #ffb822;
}

.search-form {
    display: inline-block;
    vertical-align: middle;
    border: 3px solid #9965e3;
    border-radius: 10px;
    margin-left: 85px;
    width: 280px;
    height: 55px;
    line-height: 44px;
}

.search-input {
    display: inline-block;
    vertical-align: middle; 
    text-transform: inherit;
    background-color: transparent;
    padding-left: 15px;
    width: 80%;
}

.search-btn {
    background-color: transparent;
    background-image: url("image/search.svg");
    background-repeat: no-repeat;
    width: 34px;
    height: 34px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.hero {   
    font-weight: 900;
    text-align: center;
}

.hero-wrapper {
    position: relative;
    height: 780px;    
}

.hero-wrapper::after {
    content: "";
    background-image: url("image/hero.jpg");
    border-radius: 0 150px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.hero-title {
    color: #ffb822;
    font-size: 100px;
    line-height: 100px;
    padding-top: 326px;
    margin-bottom: 36px;
}

.hero-subtitle {
    font-size: 40px;
    line-height: 40px;
}